<div id="<%= dom_id question %> ">
  <strong><%= question.question_type %> Question: ID#<%= question.id %></strong>
    <div>
      <p><%= truncate(question.desc, length: 100) %></p>
    </div>
</div>
