<div id="<%= dom_id question %>">
  <p>
    <strong>What is your question?</strong>
    <%= question.desc %>
  </p>

  <p>
    <strong>What question type is this?</strong>
    <%= question.question_type %>
  </p>

</div>
