<div id="<%= dom_id quiz %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= quiz.title %></h5>

    <p class="card-text">
      <strong>Is survey:</strong>
      <%= quiz.is_survey %>
    </p>

    <p class="card-text">
      <strong>Description:</strong>
      <%= quiz.desc %>
    </p>
  </div>
</div>
